@font-face {
  font-family: Fraunces;
  src: url(/starter-code/assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}
@font-face {
  font-family: "Manrope";
  src: url(/starter-code/assets/fonts/manrope/Manrope-VariableFont_wght.ttf);
}

:root {
  --clr-primary-purple: hsl(273, 85%, 13%);
  --clr-secondary-green: hsl(150, 100%, 63%);

  --clr-neutral-grey: hsl(271, 12%, 34%);
  --clr-neutral-white: hsl(0, 0%, 100%);
  --clr-neutral-ghostwhite: hsl(276, 100%, 99%);

  --ff-secondary: "Fraunces", san-serif;
  --ff-body: "Manrope", sans-serif;

  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 800;

  --fs-400: 1rem;
  --fs-500: 1.75rem;
  --fs-600: 2rem;
  --fs-700: 3.125rem;

  --line-height-400: 1.75rem;
  --line-height-500: 2.25rem;
  --line-height-600: 3rem;
  --line-height-700: 3.125rem;

  --br: 0% 0% 100% 100% / 0% 0% 10% 10% ;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Utility Classes */

.button__primary {
  font-size: var(--fs-400);
  line-height: 2rem;
  letter-spacing: -0.16px;
  background-color: var(--clr-secondary-green);
  border: none;
  color: var(--clr-primary-purple);
  font-weight: 700;
  padding: 1rem 1.5rem;
}

.button__secondary {
  font-size: var(--fs-400);
  line-height: 2rem;
  letter-spacing: -0.16px;
  font-weight: 700;
  border: none;
  background-color: var(--clr-primary-purple);
  color: var(--clr-neutral-white);
  text-decoration: underline;
  text-underline-offset: 8px;
  text-decoration-color: var(--clr-secondary-green);
  text-decoration-thickness: 3px;
}

button:hover,
.footer__icons {
  cursor: pointer;
}

.button-secondary:hover {
  color: var(--clr-secondary-green);
}

.button__primary:hover {
  background-color: transparent;
  color: var(--clr-secondary-green);
  outline: 1px solid var(--clr-secondary-green);
}

.footer__icons > *:hover {
  background-color: white;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
  text-align: center;
}

.grid {
  display: grid;
}

.container__wide {
  width: 90%;
  margin-inline: auto;
}

.container {
  width: 93%;
  margin-inline: auto;
}

.hidden {
  display: none;
}


/* Utility Class End */

/* typography */
body {
  text-rendering: optimizeSpeed;
  line-height: var(--line-height-400);
  font-size: var(--fs-400);
  font-family: var(--ff-body);
  font-weight: var(--fw-regular);
  color: var(--clr-neutral-white);
}

h1 {
  /* font-size: var(--fs-700); */
  font-size: 2.9rem;
  font-family: var(--ff-secondary);
  color: var(--clr-neutral-white);
  line-height: var(--line-height-700);
  font-weight: var(--fw-semi-bold);
}

h1 span {
  text-decoration: underline;
  text-decoration-color: var(--clr-secondary-green);
}

h2 {
  font-size: var(--fs-600);
  font-family: var(--ff-secondary);
  line-height: var(--line-height-600);
  font-weight: var(--fw-semi-bold);
  color: var(--clr-neutral-white);
}

h3 {
  font-size: var(--fs-500);
  font-family: var(--ff-secondary);
  font-weight: var(--fw-semi-bold);
  color: var(--clr-primary-purple);
  line-height: var(--line-height-500);
  font-weight: var(--fw-semi-bold);
}

li p {
  text-align: center;
  color: var(--clr-neutral-grey);
  margin-bottom: 1rem;
}
/* Typography End */

/* Header Section */
header {
  --border-radius: 20px;
  background-color: var(--clr-primary-purple);
  margin: 0;
  margin-bottom: 155px;
  text-align: center;

  border-radius: var(--br);

}


.nav {
  padding-top: 37px;
  margin-bottom: 4rem;
  justify-content: space-between;
}

.header__cta {
  margin: 0 1rem;
}

.header__cta .button__primary {
  margin-top: 51px;
}

.phone {
  position: relative;
  bottom: -7rem;
  left: .5rem;
}

/* Header Section End */


/* Main Section */

/* First Section */
.ghost-white {
  background-color: var(--clr-neutral-ghostwhite);
  border-radius: var(--br);
  padding-bottom: 4.5rem;
}

.number-icon {
  font-family: var(--ff-secondary);
  font-size: var(--fs-450);
  border: 1px solid var(--clr-primary-purple);
  border-radius: 50%;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  margin-inline: auto;
  color: var(--clr-primary-purple);
  height: 48px;
  width: 48px;
  line-height: 48px;
}

.ghost-white .list-info {
  text-align: center;
}

.ghost-white .list-info h3 {
  margin-bottom: 1rem;
}

/* End First Section */

/* Second Section / Developer Section */

.developer__profile__img {
  width: 281px;
  margin-inline: auto;
  position: relative;
  top: 3rem;

  z-index: -20;
}

.developer__cta {
  background-color: var(--clr-primary-purple);
  padding: 2rem 0;
  text-align: center;
}

.developer__cta__container {
  width: 80%;
  margin-inline: auto;
}

.developer__cta__container p {
  margin-top: 1rem;
  padding-bottom: 1.5rem;
}

/* End Second Section / Profile Section */

/* End Main Section */

/*  Footer Section */

footer {
  width: 50%;
  margin-inline: auto;
  margin-top: 4.625rem;
}

.footer .grid {
  place-content: center;
}

.footer__icons {
  gap: 1.5rem;
  margin: 4rem 0;
}

.footer__icons > * {
  fill: black;
}

/*   End Footer Section */

/* 
Media Queries
*/
@media (min-width: 48rem) {
  :root {
  --fs-400: 1rem; /* 16px */
  --fs-500: 1.75rem; /* 28px */
  --fs-600: 3rem; /* 48px */
  --fs-700: 3.75rem; /* 60px */

  --line-height-400: 1.75rem; /* 28px */
  --line-height-500: 2.25rem; /* 36px */
  --line-height-600: 3.5rem; /* 56px */
  --line-height-700: 3.75rem; /* 60px */
  }

  /* Utilities Start */



  /* Utilities End */
}

@media (min-width: 70rem) {
  :root {
  --fs-400: 1rem; /* 16px */
  --fs-500: 2rem; /* 32px */
  --fs-600: 3.5rem; /* 56px */
  --fs-700: 5rem; /* 80px */

  --line-height-400: 1.75rem; /* 28px */
  --line-height-500: 2.5rem; /* 40px */
  --line-height-600: 4rem; /* 64px */
  --line-height-700: 5rem; /* 80px */
  }

    /* Utilities Start */

    .button__primary {
      letter-spacing: -0.18px;
      padding: 1rem 1.5rem;
      margin-bottom: 0.5rem;
    }
    
    .button__secondary {
      letter-spacing: -0.18px;
      margin: 0;
      padding: 0;
    }
  
    /* Utilities End */
}